@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/**************** MOBILE VIEW ELEMENTS ********/

.mobile-navbar{
    visibility: hidden;
}

/****************** NAVBAR *******************/

a{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    color: #F69D17;
}

header{
    width: 100%;
    position: absolute;
    top: 20px;
    font-family: 'Roboto Slab', serif;
}

.navbar{
    width: 90%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: transparent;
    color: white;
}

.navbar .logo{
    width: 70px;
    
}

.nav-items{
    width: 45%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.nav-button{
    position: relative;
    bottom: 8px;
    border: none;
    background: #F69D17;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    padding: 10px 10px;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;
}

.nav-button:hover{
    cursor: pointer;
    background-color: white;
    color: #F69D17;
}

/************ LANDING PAGE ************/

#landing{
    height:100vh;
}

.landing-img{
    width: 100%;
    height: 100vh;
}

.landing-content{
    width: 90%;
    height: 72vh;
    position: absolute;
    top:25vh;
    left: 5%;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.landing-content h2{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 1px;
    font-family: 'Poppins', sans-serif;
}

.landing-content h1{
    margin-top: 1px;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.landing-content h3{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 7px;
}

 .cta{
     margin-top: 30px;
    width: 202px;
    height: 60px;
    background: #c4c4c458;
    color: white;
    border: #fff 1px solid;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

.cta:hover{
    background: #fff;
    color: #F69D17;
    cursor: pointer;
}

.landing-base{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 3vh;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    list-style: none;
}

.landing-base li{
    display: flex;
    align-items: flex-end;
}

.landing-base li h4{
    font-size: 70px;
    margin-bottom: 0;
}

.landing-base li .desc{
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 200px;
    font-weight: 400;
    font-size: 15px;
    max-lines: 2;
  
}

/************* SECTION 2 ************/

#section2{
    height: 100vh;
    width: 100%;
}

.section-2-bg{
    width: 100%;
    height: 25vh;
    
}

.sec-2-filter-yellow{
    width: 100%;
    height: 25vh;
    position: absolute;
    top: 100vh;
    background: #F69D17;
    opacity: 0.7;
}
.sec-2-filter-black{
    width: 100%;
    height: 25vh;
    position: absolute;
    top: 100vh;
    background: #000;
    opacity: 0.7;
}

.section-2-content{
    width: 100%;
    height: 25vh;
    position: absolute;
    top:101vh;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.section-2-content h2{
    font-size: 30px;
    font-style: bold;
    font-weight: 300;
    margin-bottom: 1px;
    font-family: 'Roboto Slab', serif;
}

.section-2-content h1{
    
    margin-top: 1px;
    font-style: normal;
    
    font-size: 22px;
    font-weight: 200;  
    font-family: 'Roboto Slab', serif;
}

.section-2-blocks{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-block{
    width: 300px;
    height: 350px;
    margin: 10px 4px 0 4px;
    padding: 10px 10px ;
    border: #F69D17 1px solid;
    color: #cb7f0d;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;

}

.section-block h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 35px;

}

.block-2{
    margin-top: 10px;
    height: 430px;
    background: #F69D17;
    color: white;
}

.section-2-buttons{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-2-btn{
    border: #909090 1px solid;
    color: #909090  ;
    background: white;
    margin-left: 20px;
}

.sec-2-cta{
    border-radius: 0;
    width: 202px;
    height: 60px;
    font-family: 'Roboto Slab', serif;
    border: none;
    background: #F69D17;
    color: white;
    margin-right: 20px;
}

/*********** SECTION 3  **********/

.sec-3-bg{
    margin-top: 10px;
    height: 100vh;
    width: 100%;
}

.sec-3-filter-black{
    margin-top: 10px;
    position: absolute;
    top: 200vh;
    background: black;
    height: 100vh;
    width: 100%;
    opacity: 0.7;
}

.carousel{
    position: absolute;
    top: 200vh;
    bottom: 100vh;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    
}

.carousel-image {
    width: 60%;
    max-height: 60%;
    height: auto;
}

.carousel-content{
    width: 40%;
    height: 60%;
}

.carousel-content div{
    position: absolute;
    width: 60%;
}

.carousel-content h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 52px;
    width: 100%;
    margin: 0;
    max-lines: 1;
}

.carousel-content h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 46px;
    width: 100%;
    max-lines: 1;
}

.carousel-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 45%;
}

/********SECTION-4********/

.section4-content{
    padding-top: 30px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.section4-content h2{
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 300;
    margin-bottom: 1px;
    font-family: 'Roboto Slab', serif;
}

.section4-content h1{
    
    margin-top: 1px;
    font-style: normal;
    font-size: 22px;
    font-weight: 200;  
    font-family: 'Roboto Slab', serif;
}

.section4card1 h5
{
    font-family: 'Roboto Slab';
  margin:1px;
  font-size:1.4em;
  font-weight:300;
  
}

.section4card1 p
{
    
  font-size:13px;
  font-family: 'Poppins';
  font-weight: 200;
}

.section4card1
{
  height:60vh;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.property-card
{
  height:20em;
  width:16em;

  display:flex;
  
  flex-direction:column;

  border: rgba(110, 109, 109, 0.5);
  border-style: solid;
  border-width: 0.5px;
  
  border-radius:3px;
  overflow:hidden;
}


.property-image1
{
  height:10em;
  width:100%;
  padding:1em 2em;
 

  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}


.property-description1
{  
background-color: #FAFAFC;
height:12em;
width:100%;


text-align:center;
}

.property-image2
{
  height:10em;
  width:100%;


  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}


.property-description2
{  
background-color: #FAFAFC;
height:12em;
width:100%;


text-align:center;
}

.property-image3
{
  height:10em;
  width:100%;
  padding:1em 2em;
  

  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}


.property-description3
{  
background-color: #FAFAFC;
height:12em;
width:100%;


text-align:center;
}

/************ WAVE EFFECT BG ***********/


/*************** SECTION 5 **************/

#section-5{
    width: 100%;
    height: 100vh;
    background: #F69D17;
    color: white;
    text-align: center;
}

.sec-5-main-content {
    padding-top:50px ;
    width: 55%;
    margin: auto;
}

.sec-5-main-content h1{
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 300;
    margin-bottom: 1px;
    font-family: 'Roboto Slab', serif;
}

.sec-5-cards{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top:100px ;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card{
    width: 30%;
    border: 1px solid white;
    padding: 5px 2px;
}

 .card-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
}

.card h2{
    margin: 0;
}

.card-des{
    margin: auto;
    width: 60%;
}


/************ SECTION 6 *********/

#section-6{
    height: 35vh;
    width: 90%;
    background: rgb(41, 41, 41);
    padding: 10px 5%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sec-6-desc{
    flex: 1;
}

.sec-6-desc p{
    font-size: 20;
    width: 70%;
}

.sec-6-location{
    flex: 1;
}

.sec-6-location p{
    width: 70%;
    font-size: 20;
}

.sec-6-mail-us{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sec-6-mail-us p{
    width: 70%;
}

#mail-usr{
    width: 60%;
    border: 1px solid black;
    margin-bottom: 4px;
    padding: 4px 4px;
    background: #909090;
    color: #000;
}

#body-usr{
    width: 60%;
    height: 90px;
    border: 1px solid black;
    margin-bottom: 4px;
    padding: 4px 4px;
    background: #909090;
    color: #000;
}

.mail-btn{
    border: 1px solid #909090;
    padding: 4px 4px;
    background: #000 ;
    color: #909090;
    width: 30%;
    height: 20%;
    font-weight: 600;
    margin-top: 10px;
}

.mail-btn:hover{
    background: #909090;
    color: #000;
    cursor: pointer;
}

::placeholder{
    color: black;
}

#copyright{
    width: 100%;
    height: 7vh;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MOBILE PHONE VIEW */

@media only screen and (max-width: 600px){

    body{
        width: 100%;
    }
      /* MOBILE NAVBAR */
    .navbar{
        visibility: hidden;
        position: absolute;
        left: -100%;
    }

    .mobile-navbar{
        color: white;
        text-align: center;
        visibility: visible;
        
    }
    .mobile-navbar h1{
        margin-top: 0px;

    }
        /* MOBILE LANDING */

    #landing{
        height: 200vh;
    }

    .landing-img{
        width: 100%;
        height: auto;
    }
    .landing-content{
        color: #000;
        position: static;
    }

    .landing-base{
        flex-direction: column;
        position: static;
    }

    /* SECTION TWO */
    #section2{
        height: 220vh;
    }
    .sec-2-filter-yellow{
        opacity: 1;
        position: static;
    }
    .section-2-content{
        position: absolute;
        top: 197vh;
        color:black;
        height: auto;
    }

    .section-2-bg{
        visibility: hidden;
        position: absolute;
        left: -100%;
    }
    .sec-2-filter-black{
        visibility: hidden;
        position: absolute;
        left: -100%;
    }


    .section-2-blocks{
        height: auto;
        flex-direction: column;
        position: static;
    }

    /* SECTION 3 */


    .carousel{
        position: absolute;
        top: 425vh;
        flex-direction: column-reverse;
    }

    .sec-3-filter-black{
        position: absolute;
        top: 420vh;
    }

    .carousel-content{
        width:90%;
        margin: auto;
    }
    .carousel-content div{
        position: static;
        width: 100%;
    }


.carousel-content h1{
    font-weight: 300;
    font-size: 20px;

}

.carousel-content h2{
    font-weight: 300;
    margin: 0;
    font-size: 18px;

}

.carousel-content p{

    font-size:15px;

}

/* SECTION 4 */




}